<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    
    <!-- 配置一个Filter过滤器 -->
    <filter>
        <filter-name>MyFilter</filter-name>
        <filter-class>com.javaweb.filter.MyFilter</filter-class>
        
        <init-param>
            <param-name>初始化参数名1</param-name>
            <param-value>初始化参数值1</param-value>
        </init-param>
        <init-param>
            <param-name>初始化参数名2</param-name>
            <param-value>初始化参数值2</param-value>
        </init-param>
    
    </filter>
    
    <!-- 配置Filter过滤器的拦截路径 -->
    <filter-mapping>
        <filter-name>MyFilter</filter-name>
        
        <!-- 在一个过滤器下可以配置多个拦截路径 -->
        <url-pattern>/admin/*</url-pattern>
        <url-pattern>/Servlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    
    
    <filter>
        <filter-name>MyFilterChain1</filter-name>
        <filter-class>com.javaweb.filter.MyFilterChain1</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MyFilterChain1</filter-name>
        <url-pattern>/filter.jsp</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>MyFilterChain2</filter-name>
        <filter-class>com.javaweb.filter.MyFilterChain2</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MyFilterChain2</filter-name>
        <url-pattern>/filter.jsp</url-pattern>
    </filter-mapping>

</web-app>