<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    
    
    <!--  配置全局上下文初始化参数（属于整个Web项目） -->
    <context-param>
        <param-name>参数名1</param-name>
        <param-value>参数值1</param-value>
    </context-param>
    <context-param>
        <param-name>参数名2</param-name>
        <param-value>参数值2</param-value>
    </context-param>
    
    
    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>com.javaweb.servlet.MyServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/MyServlet</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>InitServlet</servlet-name>
        <servlet-class>com.javaweb.servlet.InitServlet</servlet-class>
        <init-param>
            <param-name>初始化参数名1</param-name>
            <param-value>初始化参数值1</param-value>
        </init-param>
        <init-param>
            <param-name>初始化参数名2</param-name>
            <param-value>初始化参数值2</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitServlet</servlet-name>
        <url-pattern>/InitServlet</url-pattern>
    </servlet-mapping>
    
    
    <display-name>hello</display-name>
</web-app>